<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 style="color: brown;align-items: center;">..welcom...</h1>
    <h2>{{father}} : {{son}} {{son}}..</h2>
    <h2>{{son}} : yes papa ?</h2>
    <h2>{{father}} : eating sugar ?</h2>
    <h2>{{son}} : no papa..</h2>
    <h2>{{father}} : telling lies ?</h2>
    <h2>{{son}} : no papa..</h2>
    <h2>{{father}} : open your mouth</h2>
    <h2>{{son}} : ha ha ha</h2>
    


</body>
</html>